.video {
  font-family: "Oswald", sans-serif;

  .btn-danger{
    background-color: #ff1d1d;
    font-size: 28px;
    font-weight: lighter;
    border-radius: 10px;
    @media (max-width: 660px) {
      font-size: 20px;
    }
  }

  .text-danger{
    color: #ff1d1d!important;
  }

  .banner {
    .banner-video {
      .play {
        width: 130px;
        height: 130px;
        top: calc(50% - 75px);
        left: calc(50% - 75px);
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.45);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @media (max-width: 660px) {
          width: 50px;
          height: 50px;
          top: calc(50% - 25px);
          left: calc(50% - 25px);
        }
        @media (max-width: 1024px) {
          width: 70px;
          height: 70px;
          top: calc(50% - 35px);
          left: calc(50% - 35px);
        }

        .triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 20px 0 20px 35px;
          border-color: transparent transparent transparent #fff;
          @media (max-width: 1024px) {
            border-width: 10px 0 10px 15px;
          }
        }
      }
    }
  }

  .promo-video {
    padding: 20px 0;
    @media (min-width: 1024px) {
      padding: 50px 40px;
    }

    .left-sidebar {
      align-self: center;

      .title {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        @media (min-width: 768px) {
          font-size: 37px;
          margin-bottom: 60px;
        }
        @media (min-width: 992px) {
          font-size: 24px;
          margin-bottom: 40px;
        }
        @media (min-width: 1200px) {
          font-size: 35px;
          margin-bottom: 60px;
        }
      }

      .subtitle {
        font-size: 10px;
        letter-spacing: 1px;
        @media (min-width: 768px) {
          font-size: 14px;
        }
        @media (min-width: 992px) {
          font-size: 12px;
        }
        @media (min-width: 1200px) {
          font-size: 14px;
        }
      }
    }

    .right-sidebar {
      .category-title {
        font-size: 22px;
        letter-spacing: 1px;
        text-align: left;
        margin-bottom: 10px;
        font-weight: 500;
      }
      .category-text{
        font-size: 14px;
        letter-spacing: 1px;
        text-align: left;
        font-weight: normal;
      }
    }
  }

  .become-member{
    background-image: url(../img/entire.png);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    padding: 140px 15px;
    @media (max-width: 660px){
      padding: 50px 15px;
    }
    .title{
      font-weight: 500;
      font-size: 60px;
      font-style: italic;
      margin-bottom: 20px;
      letter-spacing: 1px;
      @media (max-width: 660px){
        font-size: 35px;
      }
      @media (min-width: 660px) and (max-width: 1024px){
        font-size: 50px;
      }
    }
    .subtitle{
      font-size: 35px;
      letter-spacing: 1px;
      margin-bottom: 75px;
      @media (max-width: 660px){
        font-size: 25px;
      }
      @media (min-width: 660px) and (max-width: 1024px){
        font-size: 30px;
      }
    }
  }

  .card {
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    &:last-of-type{
      margin-bottom: 50px;
      @media (max-width: 520px) {
        margin-bottom: 30px;
      }
    }

    .card-header {
      .play {
        bottom: 10px;
        left: 20px;
        @media (max-width: 1200px) {
          left: 5px;
          bottom: 5px;
        }

        .btn-danger {
          font-size: 14px;
          padding: 8px;
          background-color: #ff1d1d;
          border: none;

          &:focus {
            box-shadow: none;
            outline: none;
          }

          @media (max-width: 520px) {
            font-size: 10px;
            padding: 5px;
          }
        }
      }

      .video-resolution {
        top: 10px;
        right: 20px;
        background-color: rgba(255, 29, 29, 0.71);
        height: 60px;
        width: 60px;
        font-weight: lighter;
        @media (max-width: 520px) {
          height: 30px;
          width: 30px;
        }
        @media (max-width: 1200px) {
          right: 5px;
          top: 5px;
        }

        .text-white:first-of-type {
          font-size: 28px;
          @media (max-width: 520px) {
            font-size: 12px;
          }
        }

        .text-white:last-of-type {
          font-size: 10px;
          @media (max-width: 520px) {
            font-size: 6px;
          }
        }
      }
    }

    .card-body {
      @media (max-width: 520px) {
        padding: 0.7rem;
      }
      .card-title {
        font-size: 18px;
        @media (max-width: 520px) {
          font-size: 14px;
        }
      }

      .card-text {
        font-size: 14px;
        @media (max-width: 520px) {
          font-size: 12px;
        }
      }
    }
  }

  .price{
    font-size: 40px;
    letter-spacing: 1px;
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
}