@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

.template-reactive {
  font-family: 'Poppins', sans-serif;
  .top-section{
    background-color: #5B0627;
    padding: 30px 0 25px 0;
    @media (min-width: 768px) {
      padding: 50px 0 45px 0;
    }
    @media (min-width: 1024px) {
      padding: 78px 0 65px 0;
    }
  }


  .col-12 {
    @media (min-width: 1024px) {
      max-width: 90%;
      margin: auto;
    }
  }

  .logo-img {
    max-width: 90%;
  }

  .title {
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      font-size: 35px;
    }
    @media (min-width: 1024px) {
      font-size: 50px;
    }
    strike{
      text-decoration-color:#F6883D;
    }

    .text-attention{
      color: #F6883D!important;
      font-size: inherit;
    }
  }

  .main-text {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    @media (min-width: 768px) {
      font-size: 26px;
    }
    @media (min-width: 1024px) {
      font-size: 30px;
    }
  }

  .btn-primary{
    background-color: #F6883D!important;
    border: none;
    padding: 20px 0;
    border-radius: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      font-size: 28px;
      margin-bottom: 30px;
    }
    @media (min-width: 1024px) {
      font-size: 36px;
      padding: 30px 0;
      margin-bottom: 45px;
    }
  }

  .flipdown{
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .list-items{
    @media (min-width: 1200px){
      width: 75%;
    }
    .list-item{
      color: #fff;
      font-size: 16px;
      margin-bottom: 15px;
      display: flex;
      align-items: start;
      @media (min-width: 768px) {
        font-size: 26px;
        margin-bottom: 20px;
      }
      @media (min-width: 1024px) {
        font-size: 30px;
      }

      &:before{
        content: url(../img/star.svg);
        display: block;
        margin-right: 30px;
      }
    }
  }
}