@import "main";

body {
  background-color: #020812;

  header {
    .navbar {
      .navbar-brand {
        @media (max-width: 600px) {
          width: 120px;
        }
        @media (min-width: 600px) and (max-width: 768px) {
          width: 150px;
        }
        @media (min-width: 768px) and (max-width: 1220px) {
          width: 200px;
        }
      }

      .navbar-toggler {
        &:focus {
          outline: none;
        }
      }

      .navbar-nav {
        .nav-link {
          letter-spacing: 2px;
          font-size: 18px;
          padding: 10px 30px;
          @media (max-width: 768px) {
            padding: 10px 0;
            transition: all 0.2s;
          }
          @media (min-width: 768px) and (max-width: 1220px) {
            padding: 10px 15px;
          }

          .badge {
            left: -15px;
            top: 0;
          }
        }
      }

      .collapse {
        .navbar-nav {
          .nav-item {
            .nav-link {
              letter-spacing: 2px;
              padding: 10px 30px;
              @media (max-width: 768px) {
                padding: 10px 0;
                transition: all 0.2s;
              }
              @media (min-width: 768px) and (max-width: 1220px) {
                padding: 10px 15px;
              }
            }
          }
        }
      }
    }
  }

  .title-section, .content-type, .section-5, .section-6, .section-7, .section-8, .section-9 {
    background-image: url(../img/fxv/fxv-header-background.png);
    margin-top: -1px;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 12px 0 12px;
    @media (max-width: 600px) {
      padding-top: 50px;
    }
    @media (min-width: 1400px) {
      min-height: 2053px;
      -webkit-background-size: auto 100%;
      background-size: auto 100%;
    }

    .title:first-of-type {
      font-size: 80px;
      @media(max-width: 520px) {
        font-size: 25px;
      }
      @media (min-width: 520px) and (max-width: 768px) {
        font-size: 40px;
      }
      @media (min-width: 768px) and (max-width: 1220px) {
        font-size: 60px;
      }
    }

    .title:nth-of-type(2) {
      margin-bottom: 100px;
      @media(max-width: 520px) {
        font-size: 20px;
        margin-bottom: 50px;
      }
      @media (min-width: 520px) and (max-width: 768px) {
        font-size: 30px;
        margin-bottom: 60px;
      }
    }

    .section-text {
      font-size: 34px;
      margin-bottom: 250px;

      @media (max-width: 660px) {
        font-size: 20px;
        margin-bottom: 50px;
      }
      @media (min-width: 660px) and (max-width: 1220px) {
        font-size: 25px;
        margin-bottom: 100px;
      }
    }

    .card-text {
      font-size: 30px;
      margin-bottom: 1.5rem;
      @media (max-width: 600px) {
        font-size: 16px;
      }
      @media (min-width: 660px) and (max-width: 1220px) {
        font-size: 20px;
      }
    }

    .line {
      height: 4px;
      width: 45px;
      margin-bottom: 50px;
      margin-left: -190px;
      @media(max-width: 660px) {
        margin-bottom: 30px;
      }

      &:after {
        content: '';
        width: 150px;
        display: block;
        border-bottom: 1px solid white;
        margin-left: 65px;
        height: 2px;
      }
    }
  }

  .content-type, .section-5, .section-6, .section-7, .section-8 {
    background-image: url(../img/fxv/content-type-background.png);
    min-height: 1349px;
    @media(max-width: 660px) {
      padding-top: 30px;
    }
    @media (max-width: 1024px) {
      -webkit-background-size: cover;
      background-size: cover;
      min-height: auto;
    }

    .card-title {
      font-size: 38px;
      margin-bottom: 75px;
      @media(max-width: 700px) {
        font-size: 26px;
        margin-bottom: 30px;
      }
      @media (min-width: 700px) and (max-width: 768px) {
        font-size: 34px;
        margin-bottom: 25px;
      }
    }

    .card-text {
      font-size: 26.34px;

      @media(max-width: 700px) {
        font-size: 14px;
        margin-bottom: 0;
      }
      @media (min-width: 700px) and (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  .section-5 {
    background-image: url(../img/fxv/section-5-background.png);
    min-height: 717px;
    position: relative;
    @media (max-width: 767px) {
      -webkit-background-size: cover;
      background-size: cover;
      min-height: auto;
    }
  }

  .section-5, .section-6 {
    .macbook-girls {
      margin-left: -12px;
      z-index: 3;
      @media(min-width: 990px) {
        position: absolute;
        top: 5%;
        margin-left: 0;
      }
    }

    .line {
      margin-left: 0;
    }

    .card-text {
      &:first-of-type {
        font-size: 30px;
        @media(max-width: 700px) {
          font-size: 20px;
        }
        @media (min-width: 700px) and (max-width: 768px) {
          font-size: 22px;
        }
      }

      @media (min-width: 1200px) {
        line-height: 1.7;
      }
    }
  }

  .section-6 {
    background-color: #020812;
    background-image: none;
    min-height: auto;
  }

  .section-7 {
    background-image: url(../img/fxv/section-7-background.png);
    min-height: 651px;
    padding-top: 40px;
    @media (max-width: 767px) {
      -webkit-background-size: cover;
      background-size: cover;
      min-height: auto;
    }

    .container-fluid {
      margin-top: 110px;
      @media (max-width: 660px) {
        margin-top: 50px;
      }
      @media (min-width: 660px) and (max-width: 990px) {
        margin-top: 70px;
      }

      .section-text {
        font-size: 40px;
        @media(max-width: 660px) {
          font-size: 25px;
          text-align: right;
        }
      }

      .card-text {
        span {
          font-size: 120%;
        }

        @media(max-width: 660px) {
          text-align: right;
        }
      }
    }
  }

  .section-8 {
    background-image: url(../img/fxv/section-8-background.png);
    min-height: 689px;
    position: relative;
    margin-top: -0.6px;
    padding-top: 40px;
    @media (max-width: 1024px) {
      -webkit-background-size: cover;
      background-size: cover;
      min-height: auto;
    }

    .line {
      margin-top: 60px;
      @media (max-width: 660px) {
        margin-top: 0;
      }
    }

    .section-text {
      @media (max-width: 1024px) {
        margin-bottom: 20px;
      }
    }
  }

  footer {
    .card-text, .nav-link, .link-item {
      letter-spacing: 1px;
    }

    .social-link {
      .fa-twitter {
        color: #161616;
      }
    }
  }
}