body {
  font-family: "Poppins", sans-serif;
  max-width: 1600px;
  margin: auto;
  background-color: #000000;
}
body .text-warning {
  color: #fac71b !important;
}
body .text-primary {
  color: #233761 !important;
}
body .text-danger {
  color: #ff1d1d !important;
}
body .text-success {
  color: #00ce4e !important;
}
body .title {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  margin: 50px 0 40px 0;
}
@media (max-width: 520px) {
  body .title {
    font-size: 30px;
    margin: 40px 0 30px 0;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .title {
    font-size: 50px;
    margin: 50px 0 30px 0;
  }
}
body .bg-dark {
  background-color: #282829 !important;
}
body .bg-black {
  background-color: black;
}
body .bg-black-opacity {
  background-color: rgba(0, 0, 0, 0.45);
}
body .bg-red {
  background-color: #ff1d1d;
}
body .bg-warning {
  background-color: #f5883d !important;
}
body .bg-gradient {
  background: linear-gradient(0deg, #cf8b1a 0%, #f8bd1d 100%);
}
body .bg-ruby {
  background-color: rgba(128, 8, 53, 0.65);
}
body .bg-danger {
  background-color: #4f0b2d !important;
}
body .bg-success {
  background-color: #25ae88 !important;
}
body .bg-vivid-orange {
  background-color: #f9b123;
}
body .price {
  font-size: 24px;
}
@media (max-width: 520px) {
  body .price {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .price {
    margin-bottom: 50px;
  }
}
body .btn:focus {
  box-shadow: none;
}
body .btn-trial {
  border-radius: 40px;
  font-size: 28px;
  height: 80px;
  background: #cf8b1a;
  background: linear-gradient(90deg, #cf8b1a 0%, #f8bd1d 100%);
  box-shadow: -1px 1px 5px 0 #f8bd1d;
}
body .btn-trial:focus {
  box-shadow: -1px 1px 5px 0 #f8bd1d;
}
@media (max-width: 520px) {
  body .btn-trial {
    font-size: 20px;
    height: 60px;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .btn-trial {
    font-size: 20px;
  }
}
body .btn-warning {
  background-color: #f5883d !important;
  border-radius: 40px;
  font-size: 24px;
  padding: 10px 40px;
  border: none;
}
@media (max-width: 990px) {
  body .btn-warning {
    font-size: 18px;
  }
}
body .btn-gray {
  background-image: linear-gradient(0, #6f6f6f 0%, #454545 51%, #6f6f6f 100%);
}
body .btn-gray:focus {
  background-image: linear-gradient(0, #6f6f6f 0%, #3f3f3f 51%, #6f6f6f 100%);
}
body .badge-warning {
  background-color: #f5883d !important;
  padding: 5px 0;
  width: 66px;
  font-size: 12px;
  position: absolute;
  top: -13px;
  left: calc(50% - 33px);
}
body .section-title {
  font-size: 50px;
}
body .section-title:last-of-type {
  margin-bottom: 60px;
}
body .section-title:first-of-type {
  margin-top: 60px;
}
@media (max-width: 520px) {
  body .section-title:first-of-type {
    margin-top: 40px;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .section-title:first-of-type {
    margin-top: 50px;
  }
}
@media (max-width: 520px) {
  body .section-title {
    font-size: 20px;
  }
  body .section-title:last-of-type {
    margin-bottom: 20px;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .section-title {
    font-size: 40px;
  }
}
body .get-trial {
  margin-bottom: 60px;
}
@media (max-width: 520px) {
  body .get-trial {
    margin-bottom: 30px;
  }
}
body .get-trial .form-group .form-control {
  border-radius: 40px;
  border: none;
  font-size: 28px;
  color: #78787e;
  padding: 0 40px;
  height: 80px;
}
@media (max-width: 520px) {
  body .get-trial .form-group .form-control {
    font-size: 20px;
    height: 60px;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .get-trial .form-group .form-control {
    font-size: 20px;
  }
}
body .get-trial .form-group .form-control::placeholder {
  text-align: center;
}
body .get-trial .form-group .form-control:focus {
  box-shadow: none;
}
body header {
  background-color: #333333;
  font-family: "Oswald", sans-serif;
}
body header .navbar .navbar-brand {
  max-width: 280px;
}
@media (max-width: 520px) {
  body header .navbar .navbar-brand {
    max-width: 200px;
  }
}
body header .navbar .collapse .navbar-nav .nav-item .nav-link {
  color: white;
  padding: 0 18px;
  font-size: 18px;
  position: relative;
}
body header .navbar .collapse .navbar-nav .nav-item .nav-link .badge {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: -3px;
}
body header .navbar .collapse .navbar-nav .nav-item.active .nav-link {
  color: #f5883d;
}
body header .navbar .collapse .form-control::placeholder {
  color: white;
}
body header .navbar .collapse .form-control:focus {
  box-shadow: none;
}
body .navbar {
  padding: 20px 30px;
  position: relative;
  max-width: 1600px;
  margin: auto;
}
body .navbar .bg-image {
  position: absolute;
  left: 10%;
}
@media (max-width: 660px) {
  body .navbar .navbar-brand .logo-img {
    width: 150px;
  }
}
@media (max-width: 660px) {
  body .navbar .navbar-brand .kiiro-img {
    width: 100px;
  }
}
body .header-section {
  background-image: url(../img/header-background.png);
  height: 964px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 990px) {
  body .header-section {
    -webkit-background-size: cover;
    background-size: cover;
    height: auto;
  }
}
body .header-section .banner {
  padding: 30px 50px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  font-size: 33px;
  margin-bottom: 60px;
}
@media (max-width: 520px) {
  body .header-section .banner {
    font-size: 20px;
    padding: 15px;
    margin-bottom: 30px;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .header-section .banner {
    font-size: 30px;
    padding: 20px 30px;
  }
}
body .free-usage {
  background-image: url(../img/section1-background.png);
  height: 840px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 990px) {
  body .free-usage {
    -webkit-background-size: cover;
    background-size: cover;
    height: auto;
  }
}
body .free-usage .progress-img {
  margin-bottom: 60px;
}
@media (max-width: 520px) {
  body .free-usage .progress-img {
    margin-bottom: 30px;
  }
}
body .free-usage .price {
  margin-bottom: 40px;
}
@media (max-width: 520px) {
  body .free-usage .btn-trial {
    margin-bottom: 30px;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .free-usage .btn-trial {
    margin-bottom: 50px;
  }
}
body .logos {
  background-image: url(../img/section2-background.png);
  height: 408px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 880px) {
  body .logos {
    -webkit-background-size: cover;
    background-size: cover;
    height: auto;
  }
}
@media (min-width: 766px) and (max-width: 991px) {
  body .logos {
    display: flex;
    align-items: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 350px;
  }
}
body .logos .logos-container {
  border-radius: 10px;
  margin-top: 100px;
}
@media (max-width: 520px) {
  body .logos .logos-container {
    margin: 30px 0;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .logos .logos-container {
    margin: 50px 0;
  }
}
body .membership {
  background-image: url(../img/section3-background.png);
  height: 684px;
}
body .action {
  background-image: url(../img/section4-background.png);
  height: 670.5px;
}
body .experience {
  background-image: url(../img/section5-background.png);
  height: 666px;
}
body .favorite {
  background-image: url(../img/section6-background.png);
  height: 718px;
}
body .video {
  background-image: url(../img/section7-background.png);
  height: 744px;
  padding-top: 110px;
}
@media (max-width: 520px) {
  body .video {
    padding-top: 30px;
  }
}
body .video .card {
  border-radius: 30px;
  position: relative;
}
body .video .card .card-header {
  border-radius: 30px;
  overflow: hidden;
}
body .video .card .card-body {
  top: 15%;
}
@media (min-width: 600px) and (max-width: 990px) {
  body .video .card .card-body {
    top: 5%;
  }
}
body .video .card .card-body .card-body-header {
  font-size: 22px;
}
@media (min-width: 600px) and (max-width: 990px) {
  body .video .card .card-body .card-body-header {
    font-size: 16px;
  }
}
body .video .card .card-body .play-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
body .video .card .card-footer {
  padding: 30px 0;
  border-radius: 30px;
}
body .video .card .card-footer .card-title {
  font-size: 16px;
  font-weight: lighter;
}
body .secure {
  background-image: url(../img/section8-background.png);
  height: 831px;
}
body .payment {
  background-image: url(../img/section9-background.png);
  height: 1315px;
  position: relative;
  margin-top: -0.55px;
}
body .payment .payment-information {
  padding-top: 60px;
}
@media (max-width: 520px) {
  body .payment .payment-information {
    padding-top: 40px;
  }
}
body .payment .payment-information .payment-method {
  width: 160px;
  height: 90px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
@media (max-width: 520px) {
  body .payment .payment-information .payment-method {
    width: 70px;
    height: 40px;
    margin: auto;
  }
}
@media (min-width: 520px) and (max-width: 770px) {
  body .payment .payment-information .payment-method {
    width: 80px;
    height: 45px;
    margin: auto;
  }
}
@media (min-width: 770px) and (max-width: 1024px) {
  body .payment .payment-information .payment-method {
    width: 120px;
    height: 70px;
    margin: auto;
  }
}
body .secure-membership {
  background-image: url(../img/section10-background.png);
  height: 1224px;
  margin-top: -0.6px;
}
body .secure-membership .secure-membership-container {
  padding-top: 180px;
}
@media (max-width: 520px) {
  body .secure-membership .secure-membership-container {
    padding-top: 40px;
  }
}
body .secure-membership .secure-membership-container .list-group .list-item {
  list-style: none;
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 40px;
}
@media (max-width: 520px) {
  body .secure-membership .secure-membership-container .list-group .list-item {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .secure-membership .secure-membership-container .list-group .list-item {
    margin-bottom: 20px;
    font-size: 22px;
  }
}
body .secure-membership .secure-membership-container .list-group .list-item .check-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 40px;
  background-color: #f5883d;
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 520px) {
  body .secure-membership .secure-membership-container .list-group .list-item .check-icon {
    font-size: 14px;
    height: 28px;
    width: 28px;
    margin-right: 10px;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .secure-membership .secure-membership-container .list-group .list-item .check-icon {
    font-size: 18px;
    height: 36px;
    width: 36px;
    margin-right: 10px;
  }
}
body .questions {
  background-image: url(../img/footer-background.png);
  height: 2106px;
  margin-top: -0.6px;
  padding-top: 180px;
}
@media (max-width: 520px) {
  body .questions {
    padding-top: 40px;
  }
}
body .questions .subtitle .text-warning {
  font-size: 50px;
}
@media (max-width: 520px) {
  body .questions .subtitle .text-warning {
    font-size: 40px;
  }
}
body .questions .subtitle:nth-of-type(2) {
  margin-bottom: 50px;
}
body .questions .btn-trial {
  background: #ffe505;
  box-shadow: none;
  font-size: 35px;
}
@media (max-width: 520px) {
  body .questions .btn-trial {
    font-size: 30px;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .questions .btn-trial {
    font-size: 25px;
  }
}
body .questions .bitmap {
  margin: 90px 0;
}
body .questions .accordion {
  margin-bottom: 160px;
  margin-top: 40px;
}
body .questions .accordion .card {
  background-color: transparent;
  margin-bottom: 20px;
}
body .questions .accordion .card .card-header {
  padding: 0;
}
body .questions .accordion .card .card-header .btn-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: linear-gradient(90deg, #cf8b1a 0%, #f8bd1d 100%);
}
@media (max-width: 520px) {
  body .questions .accordion .card .card-header .btn-link {
    font-size: 16px;
  }
}
body .questions .accordion .card .card-header .btn-link .arrow-right, body .questions .accordion .card .card-header .btn-link .arrow-down {
  background-color: #fff;
  height: 40px;
  width: 40px;
  font-size: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
body .questions .accordion .card .card-header .btn-link[aria-expanded=true] {
  background: #825664;
  color: #ffffff;
}
body .questions .accordion .card .card-header .btn-link[aria-expanded=true] .arrow-right {
  display: none;
}
body .questions .accordion .card .card-header .btn-link[aria-expanded=true] .arrow-down {
  background-color: #f5883d;
  color: #ffffff;
}
body .questions .accordion .card .card-header .btn-link[aria-expanded=false] .arrow-down {
  display: none;
}
body .boobs-header {
  background-image: url(../img/boobs-header-background.png);
  height: 841px;
}
body .steps {
  background-image: url(../img/steps-background.png);
  height: 853px;
}
body .steps .subtitle {
  margin-top: 80px;
  margin-bottom: 50px;
}
@media (max-width: 520px) {
  body .steps .subtitle {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
body .steps .card-deck .card {
  text-align: center;
  margin-bottom: 20px;
}
body .steps .card-deck .card .card-header {
  padding: 0;
  margin-bottom: 40px;
  background-color: #662139;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  body .steps .card-deck .card .card-header {
    width: 150px;
    height: 150px;
  }
}
body .steps .card-deck .card .card-body {
  padding: 0;
}
body .steps .card-deck .card .card-body .card-title {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 25px;
}
@media (max-width: 520px) {
  body .steps .card-deck .card .card-body .card-title {
    font-size: 30px;
  }
}
@media (min-width: 520px) and (max-width: 1024px) {
  body .steps .card-deck .card .card-body .card-title {
    font-size: 25px;
  }
}
body .steps .card-deck .card .card-body .card-text {
  font-size: 20px;
}
@media (max-width: 520px) {
  body .steps .card-deck .card .card-body .card-text {
    font-size: 16px;
  }
}
@media (min-width: 520px) and (max-width: 1024px) {
  body .steps .card-deck .card .card-body .card-text {
    font-size: 14px;
  }
}
body .code {
  background-image: url(../img/boobs-code.png);
  height: 656px;
  margin-top: -0.05px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .code .subtitle {
  margin-bottom: 60px;
}
@media (max-width: 520px) {
  body .code .subtitle {
    margin: 40px 0;
  }
}
body .boobs-footer {
  background-image: url(../img/boobs-footer-background.png);
  height: 378px;
  margin-top: -0.05px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .membership, body .action, body .experience, body .favorite, body .video, body .secure,
body .payment, body .secure-membership, body .questions, body .boobs-header, body .steps, body .code, body .boobs-footer, body .banner,
body .become-member {
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  body .membership, body .action, body .experience, body .favorite, body .video, body .secure,
body .payment, body .secure-membership, body .questions, body .boobs-header, body .steps, body .code, body .boobs-footer, body .banner,
body .become-member {
    -webkit-background-size: cover;
    background-size: cover;
    height: auto;
  }
}
@media (min-width: 1600px) {
  body .membership, body .action, body .experience, body .favorite, body .video, body .secure,
body .payment, body .secure-membership, body .questions, body .boobs-header, body .steps, body .code, body .boobs-footer, body .banner,
body .become-member {
    margin-top: -1px;
  }
}
body .membership .subtitle, body .action .subtitle, body .experience .subtitle, body .favorite .subtitle, body .video .subtitle, body .secure .subtitle,
body .payment .subtitle, body .secure-membership .subtitle, body .questions .subtitle, body .boobs-header .subtitle, body .steps .subtitle, body .code .subtitle, body .boobs-footer .subtitle, body .banner .subtitle,
body .become-member .subtitle {
  font-size: 45px;
}
@media (max-width: 520px) {
  body .membership .subtitle, body .action .subtitle, body .experience .subtitle, body .favorite .subtitle, body .video .subtitle, body .secure .subtitle,
body .payment .subtitle, body .secure-membership .subtitle, body .questions .subtitle, body .boobs-header .subtitle, body .steps .subtitle, body .code .subtitle, body .boobs-footer .subtitle, body .banner .subtitle,
body .become-member .subtitle {
    font-size: 35px;
  }
}
body .membership .section-text, body .action .section-text, body .experience .section-text, body .favorite .section-text, body .video .section-text, body .secure .section-text,
body .payment .section-text, body .secure-membership .section-text, body .questions .section-text, body .boobs-header .section-text, body .steps .section-text, body .code .section-text, body .boobs-footer .section-text, body .banner .section-text,
body .become-member .section-text {
  font-size: 30px;
}
@media (max-width: 990px) {
  body .membership .section-text, body .action .section-text, body .experience .section-text, body .favorite .section-text, body .video .section-text, body .secure .section-text,
body .payment .section-text, body .secure-membership .section-text, body .questions .section-text, body .boobs-header .section-text, body .steps .section-text, body .code .section-text, body .boobs-footer .section-text, body .banner .section-text,
body .become-member .section-text {
    font-size: 20px;
  }
}
@media (max-width: 990px) {
  body .membership .membership-container, body .action .membership-container, body .experience .membership-container, body .favorite .membership-container, body .video .membership-container, body .secure .membership-container,
body .payment .membership-container, body .secure-membership .membership-container, body .questions .membership-container, body .boobs-header .membership-container, body .steps .membership-container, body .code .membership-container, body .boobs-footer .membership-container, body .banner .membership-container,
body .become-member .membership-container {
    font-size: 25px;
  }
}
@media (min-width: 990px) and (max-width: 1400px) {
  body .favorite .membership-container .subtitle {
    font-size: 20px;
  }
}
@media (min-width: 990px) and (max-width: 1400px) {
  body .favorite .membership-container .section-text {
    font-size: 18px;
  }
}
@media (min-width: 990px) and (max-width: 1400px) {
  body .favorite .membership-container .btn-warning {
    font-size: 18px;
  }
}
body .secure .section-title {
  margin-top: 60px;
  margin-bottom: 180px;
}
@media (max-width: 520px) {
  body .secure .section-title {
    margin: 40px 0;
    font-size: 35px;
  }
}
body .secure .subtitle {
  font-size: 40px;
  margin-bottom: 100px;
}
@media (max-width: 520px) {
  body .secure .subtitle {
    margin-bottom: 40px;
    font-size: 25px;
  }
}
@media (max-width: 520px) {
  body .secure .section-text {
    margin-bottom: 30px;
  }
}
@media (min-width: 520px) {
  body .secure .section-text {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  body .payment {
    height: 1000px;
  }
}
body .payment .payment-information .subtitle {
  font-size: 40px;
}
@media (max-width: 520px) {
  body .payment .payment-information .subtitle {
    font-size: 25px;
    text-align: center;
  }
}
@media (min-width: 520px) and (max-width: 990px) {
  body .payment .payment-information .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 520px) {
  body .payment .payment-information .section-text {
    font-size: 20px;
    text-align: center;
  }
}
body .payment .card {
  background-color: transparent;
  border: none;
  padding: 20px;
  position: absolute;
  bottom: 0;
}
body .payment .card .card-body .card-title {
  color: #b51313;
  font-size: 40px;
  margin-bottom: 40px;
}
@media (max-width: 520px) {
  body .payment .card .card-body .card-title {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
  }
}
@media (min-width: 520px) and (max-width: 1200px) {
  body .payment .card .card-body .card-title {
    font-size: 30px;
  }
}
body .payment .card .card-body .card-text {
  font-size: 32px;
}
@media (max-width: 520px) {
  body .payment .card .card-body .card-text {
    font-size: 18px;
    text-align: center;
  }
}
@media (min-width: 520px) and (max-width: 1200px) {
  body .payment .card .card-body .card-text {
    font-size: 25px;
  }
}

footer {
  background-color: #333333;
  font-family: "Oswald", sans-serif;
  padding: 35px 0;
}
footer .logo-footer {
  max-width: 320px;
}
footer .card-text {
  font-size: 16px;
}
@media (max-width: 660px) {
  footer .card-text.copyright {
    font-size: 9px;
  }
}
footer .link-item {
  font-size: 18px;
}
footer .social .social-link {
  height: 31px;
  width: 31px;
  font-size: 20px;
  text-decoration: none;
}
footer .nav .nav-item .nav-link {
  font-size: 18px;
  padding: 5px 0;
  color: white;
}
@media (max-width: 520px) {
  footer .nav .nav-item .nav-link {
    font-size: 12px;
  }
}
@media (min-width: 520px) and (max-width: 1024px) {
  footer .nav .nav-item .nav-link {
    font-size: 14px;
  }
}
footer .nav .nav-item .nav-link.disabled {
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 520px) {
  footer .nav .nav-item .nav-link.disabled {
    font-size: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 520px) and (max-width: 1024px) {
  footer .nav .nav-item .nav-link.disabled {
    font-size: 25px;
    margin-bottom: 25px;
  }
}
footer .nav .nav-item .nav-link:hover {
  color: #f5883d;
}

body {
  max-width: 100%;
  font-family: Roboto, sans-serif !important;
}
body .main-content {
  background-color: #232323;
  background-image: url(../img/login-background.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  font-family: Roboto, sans-serif !important;
}
body .main-content .navbar {
  background-color: #232323;
  max-width: 100% !important;
}
body .main-content .navbar .navbar-brand {
  max-width: 165px;
}
@media (max-width: 1024px) {
  body .main-content .navbar .navbar-brand .logo-img {
    width: 70px;
  }
}
body .main-content .navbar .navbar-toggler:focus {
  outline: none;
}
body .main-content .navbar .navbar-nav .nav-item {
  letter-spacing: 2px;
}
body .main-content .navbar .navbar-nav:first-of-type .nav-item .nav-link {
  padding: 0 25px;
  color: #ffffff;
}
@media (max-width: 577px) {
  body .main-content .navbar .navbar-nav:first-of-type .nav-item .nav-link {
    padding: 10px 0;
    text-align: right;
  }
}
body .main-content .navbar .navbar-nav:first-of-type .nav-item .nav-link:hover {
  color: #ff1d1d;
}
body .main-content .navbar .navbar-nav:nth-of-type(2) .nav-item .nav-link {
  padding: 0 10px;
  color: white;
}
body .main-content .navbar .navbar-nav:nth-of-type(2) .nav-item.active .nav-link {
  color: #ff1d1d;
}
body .main-content .navbar .navbar-nav:nth-of-type(2) .nav-item:last-of-type .nav-link {
  color: #232323;
}
body .main-content .navbar .navbar-nav:nth-of-type(2) .nav-item:last-of-type.active .nav-link {
  color: #ff1d1d;
}
body .main-content .card {
  background-color: transparent;
  border-radius: 1rem;
  overflow: hidden;
  margin: 30px 0 80px 0;
  max-width: 635px;
  width: 100%;
  border: none;
}
@media (max-width: 660px) {
  body .main-content .card {
    margin: 0;
  }
}
body .main-content .card .card-header {
  background-image: url(../img/login-card-top-img.png);
  height: 461px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
}
body .main-content .card .card-header .card-header-item {
  position: absolute;
  bottom: 40px;
}
body .main-content .card .card-header .card-header-item .group-list {
  background-color: rgba(0, 0, 0, 0.7);
}
body .main-content .card .card-header .card-header-item .group-list .list-item {
  font-size: 20px;
  letter-spacing: 1.5px;
}
@media (max-width: 660px) {
  body .main-content .card .card-header .card-header-item .group-list .list-item {
    font-size: 14px;
  }
}
body .main-content .card .card-header .card-header-item .btn-gray {
  padding: 7px 70px;
  font-size: 18px;
}
@media (max-width: 660px) {
  body .main-content .card .card-header .card-header-item .btn-gray {
    font-size: 14px;
  }
}
body .main-content .card .card-body {
  padding-top: 45px;
}
body .main-content .card .card-body .form-group {
  align-items: center;
  margin-bottom: 30px;
}
body .main-content .card .card-body .form-group .col-form-label {
  color: #233761;
  font-size: 25px;
  padding: 0;
}
body .main-content .card .card-body .form-group .form-control {
  background-color: #e1e1e1;
  border: none;
  height: 50px;
  color: white;
  font-size: 18px;
}
body .main-content .card .card-body .form-group .form-control:focus {
  box-shadow: none;
}
body .main-content .card .card-body .form-group .form-control::placeholder {
  color: white;
}
body .main-content .card .card-body .form-group .custom-control, body .main-content .card .card-body .form-group .card-link {
  font-size: 18px;
}
@media (max-width: 660px) {
  body .main-content .card .card-body .form-group .custom-control, body .main-content .card .card-body .form-group .card-link {
    font-size: 14px;
  }
}
body .main-content .card .card-body .form-group .custom-control .custom-control-label:before, body .main-content .card .card-body .form-group .custom-control .custom-control-label:after, body .main-content .card .card-body .form-group .card-link .custom-control-label:before, body .main-content .card .card-body .form-group .card-link .custom-control-label:after {
  height: 18px;
  width: 18px;
  border: none;
  border-radius: 3px;
  background-color: #aac2df;
  box-shadow: none;
}
@media (max-width: 660px) {
  body .main-content .card .card-body .form-group .custom-control .custom-control-label:before, body .main-content .card .card-body .form-group .custom-control .custom-control-label:after, body .main-content .card .card-body .form-group .card-link .custom-control-label:before, body .main-content .card .card-body .form-group .card-link .custom-control-label:after {
    height: 14px;
    width: 14px;
  }
}
body .main-content .card .card-body .form-group .btn-danger {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 3px;
}
body .main-content .register .subtitle {
  letter-spacing: 2px;
}
body .main-content .register .form-control-label {
  letter-spacing: 1.5px;
  text-align: right;
}
body .main-content .register .custom-control {
  padding-left: 1.75rem;
}
body .main-content .register .custom-control .custom-control-label {
  padding-left: 8px;
  letter-spacing: 1px;
}
body .main-content .register .custom-control .custom-control-label:before, body .main-content .register .custom-control .custom-control-label:after {
  border-radius: 0;
  background-color: transparent;
  border-color: white;
  box-shadow: none;
}
body .main-content .register .btn.bg-red {
  line-height: 2;
  font-size: 18px;
  letter-spacing: 2px;
}
body footer {
  letter-spacing: 1px;
  background-color: #161616;
}
body footer .logo-footer {
  max-width: 125px;
}
body footer .link-item {
  letter-spacing: 1.5px;
}

/*# sourceMappingURL=register.css.map */
