.redeem {
  background-image: url(../img/vrf-background.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
  padding: 30px 0 10px 0;

  .banner {
    background-color: #1e1f21;
    padding: 20px 12px;
    width: 90%;
    margin-bottom: 50px;
    @media(min-width: 660px) and (max-width: 1024px){
      padding: 30px;
      width: 90%;
    }
    @media (min-width: 1024px){
      width: 70%;
      padding: 40px 60px;
    }
    @media (min-width: 1220px){
      padding: 40px 200px;
    }

    .title {
      font-weight: 400;
      font-size: 30px;
      margin-bottom: 40px;
      @media (max-width: 660px){
        font-size: 25px;
        margin-bottom: 30px;
      }
      @media(min-width: 660px) and (max-width: 1024px){
        font-size: 35px;
        margin-bottom: 40px;
      }

      .text-danger{
        color: #fe0904!important;
        font-size: 35px;
        @media (max-width: 660px){
          font-size: 30px;
        }
        @media(min-width: 660px) and (max-width: 1024px){
          font-size: 40px;
        }
      }
    }

    .main-text {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 40px;
      @media (max-width: 660px){
        font-size: 15px;
        margin-bottom: 20px;
      }
      @media(min-width: 660px) and (max-width: 1024px){
        font-size: 17px;
        margin-bottom: 30px;
      }
    }

  .form-group{
    .form-control{
      height: 50px;
      width: 300px;
      background-color: #b2b4b8;
      color: #ffffff;
      font-size: 20px;
      margin-bottom: 25px;

      &:focus{
        box-shadow: none;
      }

      &::placeholder{
        color: #ffffff;
        text-align: center;
        font-size: 20px;
      }
      @media (max-width: 660px){
        font-size: 14px;
      }
    }
  }

    .btn-danger{
      background-color: #fe0904!important;
      font-size: 20px;
      width: 300px;
      padding: 10px 0;
      @media (max-width: 660px){
        font-size: 14px;
      }
    }
  }

  .redeem-offer-footer{
    .list-group{
      margin-bottom: 0.8rem;
      .list-group-item{
        border-bottom: none;
        border-top: none;
        border-left: none;
        border-color: #ffffff;
        font-size: 16px;
        @media (max-width: 660px){
          font-size: 12px;
          padding: 0 0.5rem;
        }
      }
    }
  }
}