@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

.template-content {
  background-color: #0a0b0c;

  .title {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 1.2;

    @media (min-width: 768px) {
      font-size: 36px;
      margin-bottom: 30px;
    }

    @media (min-width: 1200px) {
      font-size: 48px;
      margin-bottom: 40px;
    }
  }

  .main-text {
    font-family: 'Poppins', sans-serif;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 18px;
      margin-bottom: 50px;
    }
    @media (min-width: 1200px) {
      font-size: 21px;
      margin-bottom: 60px;
    }
  }

  .text-warning {
    color: #f6883d !important;
  }

  .btn-warning {
    background-color: #f6883d !important;
    border: none;
    font-family: 'Oswald', sans-serif;
    border-radius: 3px;
    font-size: 22px;
    padding: 10px 70px;
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 60px;
    }
  }

  .banner {
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    padding: 50px 0;
    margin-bottom: 15px;
    @media (min-width: 1200px) {
      padding: 100px 0;
    }
  }

  .earn{
    padding: 50px 0;
    background: #0a0b0c url("../img/earn.png") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1024px) {
      min-height: 639px;
    }
    .main-text{
      @media (min-width: 768px) and (max-width: 1024px){
        width: 600px;
      }
    }
  }

  .section-3{
    padding: 50px 0;
    @media (min-width: 1200px) {
      padding:150px 0;
    }
    .main-text:last-of-type{
      max-width: 1000px;
    }

    .iphone-img{
      @media (max-width: 1020px) {
        display: none;
      }
      @media (min-width:1020px) and (max-width: 1200px) {
        width: 150px;
      }
      top: -40%;
      right: 5%;
    }
  }
}